fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart>=0.0.9
python-dotenv>=1.0.1
pandas>=2.2.0
openpyxl>=3.1.2
requests>=2.31.0
openai>=1.30.5
llama-index-core
llama-index-embeddings-openai
llama-index-llms-openai
llama-index-vector-stores-supabase
supabase==2.4.3
typing-extensions>=4.10.0
Pillow
pytz
cachetools>=5.3.3
